.dots button.clear {
    background: none;
    border: none;
    color: #003366;
    font-size: smaller;
    cursor: hand;
    outline: none;
}
.dots input[type='radio'] {
    transform: scale(1.3);
    margin-right: 3px;
}
.dots {
    padding-top: 6px;
}
