{% extends 'admin/change_form.html' %}
{% load i18n admin_urls admin_static admin_modify bootstrapped_goodies_tags %}

{% block extrahead %}
{#  <script src=""{% static 'js/dots.js' %}></script>#}
  {{ block.super }}
{% endblock %}

{% block field_sets %}
  {% for fieldset in adminform %}
    {% include "admin/sheets/fieldset.html" with group_column_width=adminform|form_fieldset_column_width %}
  {% endfor %}
{% endblock %}

{% block submit_buttons_bottom %}
  {% if original.is_locked %}
    <div id="lock-warning">
      <p>You cannot make changes to this character because it's approved and locked.</p>
      <p>Create a revision for this character and edit the revision
        or <a id="unlock-link" target="">click here to unlock it.</a>
      </p>
    </div>
    <script>
        (function ($) {
          $(function () {
              var $buttons = $('#submit-buttons-sheet')
              $buttons.addClass('hidden')
              $('#unlock-link').on('click', function ( event ) {
                  event.preventDefault()
                  $('#lock-warning').addClass('hidden')
                  $buttons.removeClass('hidden')
              })
          })
        }(django.jQuery))
    </script>
  {% endif %}
  <div id="submit-buttons-sheet">
    {{ block.super }}
  </div>
{% endblock %}
