{% extends 'base.html' %}
{% load bootstrap3 socialaccount %}

{% block body %}
<div class="header">
  <h1>Keeper
    <small>Storytelling Repository</small>
  </h1>
  <hr>
</div>

<div class="row">
  <div class="col-lg-12">
    {% include 'messages.html' %}
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-xs-12">
    {% block formtitle %}<h2>Login</h2>{% endblock %}
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% block formactions %}
      {% endblock %}

    </form>

  </div>

  <div class="col-md-offset-1 col-md-7 col-xs-12">
    <br>
    <h2>About Keeper</h2>
    <p class="lead">
      Keeper is an online repository that keeps track of large
      and small gaming groups, events, stories and character sheets. </p>
  </div>

</div>
{% endblock %}
