{% load bootstrap3 %}

<div class="pull-right">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group"><a href="{% url 'orgs:create-event' organization.pk %}">
            <button type="button" class="btn btn-default">Create Event</button>
        </a></div>
    </div>
</div>

<h2>Upcoming Events</h2>
<hr>
{% if organization.events.upcoming.exists %}
    {% for event in organization.events.upcoming %}

    {% endfor %}
{% else %}
    <p class="lead">No upcoming events yet. Go ahead and create some!</p>
{% endif %}
