{% load bootstrap3 %}

<div class="pull-right">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <a href="{% url 'orgs:create-event' organization.pk %}">
        <button type="button" class="btn btn-default">Create Event</button>
      </a></div>
  </div>
</div>

<h2>Upcoming Events</h2>
<hr>
{% if organization.upcoming_events %}
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Event Date</th>
    </tr>
    </thead>
    <tbody>
    {% for event in organization.upcoming_events %}
      <tr>
        <td>
          <a href="{% url 'orgs:view-event' event.pk %}">{{ event.name }}</a>
        </td>
        <td>{{ event.event_date }}</td>
      </tr>{% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="lead">No upcoming events yet. Go ahead and create some!</p>
{% endif %}
