{% extends 'orgs/base.html' %}

{% block content %}

    {# Organization tools #}
    {% block tools %}
        <div class="pull-right"><div class="btn-toolbar" role="toolbar">

                {% if user_membership.is_officer %}
                    <div class="btn-group"><a href="{% url 'orgs:edit-organization' organization.pk %}">
                        <button type="button" class="btn btn-default">Edit Organization</button>
                    </a></div>
                {% endif %}

                {% if user_membership.is_active %}<div class="btn-group">
                    <button type="button" class="btn btn-default">My Membership</button>
                </div>{% endif %}

        </div></div>
    {% endblock %}

    <h1>{{ organization.name }}
        <small>Organization</small>
    </h1>
    <hr>

    {# Tabs #}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
        <li><a data-toggle="tab" href="#events">Events</a></li>
        <li><a data-toggle="tab" href="#members">Members</a></li>
    </ul>

    <div class="tab-content">
        <div id="summary" class="tab-pane fade in active">
            {% include 'orgs/organization/about.html' %}
        </div>
        <div id="events" class="tab-pane fade">
            {% include 'orgs/organization/events.html' %}
        </div>
        <div id="members" class="tab-pane fade">
            {% include 'orgs/organization/members.html' %}
        </div>
    </div>

{% endblock %}
