<div class="container new-guide">

    <div class="row">
        <div class="col-lg-7 col-sm-7">
            <h3>Welcome to {{ membership.organization.name }}</h3>
            <p>
                Looks like you just joined and don't have any characters yet.
                Please follow the instructions: </p>
            <ol>
                <li>
                    Carefully read the rules for your organization and/or chronicle.
                </li>
                <li>
                    Fill out your character sheet, either in a paper copy or a PDF.
                </li>
                <li>
                    Click the "Request Character" link for your chronicle. You will be asked
                    to upload your character sheet.
                </li>
                <li>
                    Wait until the appropriate Storyteller approves your character.
                </li>
            </ol>
        </div>

        <div class="col-lg-5 col-sm-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Chronicles for {{ membership.organization.name }}</h4>
                </div>
                <div class="panel-body">
                    <p>Click on the name of a chronicle to request a new character.</p>
                </div>

                <table class="table">
                    {% for chronicle in membership.organization.chronicles.all %}
                        <tr>
                            <td>{{ chronicle.reference_code }}</td>
                            <td><a href="{% url 'request' chronicle.pk %}" id="request-character">
                                {{ chronicle.name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>

            </div>

        </div>

    </div>


</div>

