{% load i18n admin_static admin_urls admin_modify bootstrapped_goodies_tags %}

<div class="csv-inline">

    {% include 'admin/edit_inline/tabular.html' %}

    <div class="row csv-inline-header">
        <div class="col-lg-4">
            <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
        </div>
        <div class="col-lg-8" style="text-align: right">
            <br>
            <input type="button" class="btn btn-default csv-upload" value="CSV Upload">
        </div>
    </div>

    <div class="csv-upload-dialog" title="Upload {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}">
        <fieldset>
            <legend>Upload a CSV file</legend>
            <p>Make sure your file contains the following columns in this order:</p>
            <p>{{ inline_admin_formset.opts.get_upload_fields_display }}</p>
            {% for field in inline_admin_formset.opts.upload_fields %}
                <input type="hidden" class="upload-field" value="{{ field }}">
            {% endfor %}
            <br>
            <input type="file" name="file-upload" class="csv-file" accept=".csv">
            {# Access upload fields: inline_admin_formset.opts.upload_fields #}
            <br>
            <input type="checkbox" name="has-headers" id="{{ inline_admin_formset.formset.prefix }}-has-headers"
                   checked class="skip-check">
            <label for="{{ inline_admin_formset.formset.prefix }}-has-headers">My data has headers</label>
            <br>
            <p class="process-info"></p>
            <br>
            <input type="button" class="btn btn-primary btn-large upload-btn" value="Upload">
        </fieldset>
    </div>

</div>