{% extends 'orgs/../../base.html' %}

{% block content %}

    {# Organization tools #}
    {% block tools %}
        <div class="pull-right">
            <div class="btn-toolbar" role="toolbar">

                {% if user_membership.is_officer %}
                    <div class="btn-group"><a href="{% url 'orgs:edit-event' event.pk %}">
                        <button type="button" class="btn btn-default">Configure Event</button>
                    </a></div>
                {% endif %}

            </div>
        </div>
    {% endblock %}

    <h1>{{ event.name }}
        <small><a href="{% url 'orgs:view-org' event.organization.pk %}">
            {{ event.organization.name }}
        </a></small>
    </h1>
    <hr>

    <div class="row">
        <div class="col-md-2">
            <h4>Event Date</h4>
            <p>{{ event.event_date }}</p>
        </div>
        <div class="col-md-10">
            {% if event.information %}
                <h4>Information</h4>
                <p>{{ event.information }}</p>
            {% endif %}
            {% if event.organization.parent_org %}
                <h4>Parent Organization</h4>
                <p>{{ event.organization.parent_org }}</p>
            {% endif %}
        </div>
    </div>



{% endblock %}
