{% extends 'sheets/character.html' %}

{% block extrahead %}
    {{ block.super }}
    <script>$(function () {

    })</script>
{% endblock %}

{% block extraformsets %}
    {# Arrange all ten Arcana in two columns #}
    <hr>
    <div class="row">
        <div class="col-md-6 col-xw-12">
            <div class="panel panel-default" style="padding: 10px">
                <h3>Arcana</h3>
                <hr>
                <div class="row">
                    {% include '../includes/arcanum.html' with name="Prime" %}
                    {% include '../includes/arcanum.html' with name="Forces" %}
                    {% include '../includes/arcanum.html' with name="Mind" %}
                    {% include '../includes/arcanum.html' with name="Space" %}
                    {% include '../includes/arcanum.html' with name="Fate" %}
                    {% include '../includes/arcanum.html' with name="Time" %}
                    {% include '../includes/arcanum.html' with name="Spirit" %}
                    {% include '../includes/arcanum.html' with name="Life" %}
                    {% include '../includes/arcanum.html' with name="Death" %}
                    {% include '../includes/arcanum.html' with name="Matter" %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {

            {# Load existing arcana data #}
            {% if character.pk %}
                $.get('{% url 'sheets:character-powers' %}?char={{ character.pk }}&category=Arcana')
                    .done(function (data) {
                        for (var i = 0; i < data.items.length; i++) {
                            var cloned = parent.clone();
                            if (options.afterLoad) {
                                options.afterLoad(cloned, data.items[i]);
                            }
                        }
                    });
            {% endif %}

            {# Save Arcana data to id_powers hidden field as JSON #}
            $('#character-form').submit(function () {
                console.log('Template pre-save');
                $(this).prop('disabled', true);
                var data = {};
                $('.arcanum-entry').each(function () {
                    data[$(this).find('.arcanum-name').val()] = $(this).find('.arcanum-dots-hidden').val();
                });
                $('#id_powers').val(JSON.stringify(data));
            });

        });
    </script>
{% endblock %}