<select class="form-control" id="{{ id }}">
    <option value="academics">Academics</option>
    <option value="computer">Computer</option>
    <option value="crafts">Crafts</option>
    <option value="investigation">Investigation</option>
    <option value="medicine">Medicine</option>
    <option value="occult">Occult</option>
    <option value="politics">Politics</option>
    <option value="science">Science</option>
    <option value="athletics">Athletics</option>
    <option value="brawl">Brawl</option>
    <option value="drive">Drive</option>
    <option value="firearms">Firearms</option>
    <option value="larceny">Larceny</option>
    <option value="stealth">Stealth</option>
    <option value="survival">Survival</option>
    <option value="weaponry">Weaponry</option>
    <option value="animal_ken">Animal Ken</option>
    <option value="empathy">Empathy</option>
    <option value="expression">Expression</option>
    <option value="intimidation">Intimidation</option>
    <option value="persuasion">Persuasion</option>
    <option value="socialize">Socialize</option>
    <option value="streetwise">Streetwise</option>
    <option value="subterfuge">Subterfuge</option>
</select>