{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body %}

    <br>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2>Recover your Keeper Account</h2>
            <hr>
            <form method="post">
                <p class="lead">
                    Please enter your account's email address below.
                </p>
                <p>
                    If the address matches an account in our system, we will send further
                    instructions to recover your account to that email address.
                </p>
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-lg btn-primary" type="submit" value="Submit">
            </form>
            <hr>
            <a href="{% url 'orgs:index' %}">Back to homepage.</a>
        </div>
    </div>

{% endblock %}
