{% extends 'orgs/base.html' %}
{% load bootstrap3 %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2>Register</h2>
            <p>Please complete the following information.</p>
            <hr>
            <form action="{% url 'orgs:register' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                <input class="btn btn-lg btn-primary" type="submit" value="Register">
            </form>
            <hr>
            <a href="{% url 'orgs:index' %}">Back to homepage.</a>
        </div>
    </div>

{% endblock %}
