{% load bootstrap3 static socialaccount i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keeper</title>

    {% bootstrap_css %}
    {% include 'fonts.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    {% block extrastyle %}{% endblock %}

    {% include 'scripts.html' %}

    {% bootstrap_javascript %}
    {% if not user.is_authenticated and settings.FACEBOOK_LOGIN_ENABLED %}
        {% providers_media_js %}
    {% endif %}
    {% block extrahead %}{% endblock %}

</head>
<body>

{% if user.is_authenticated %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}
    {% block messages %}
        {% bootstrap_messages %}
    {% endblock messages %}
{% endif %}

<div id="content" class="container main">{% block body %}
    {% if user.is_authenticated %}

        {% block header %}{% include 'header.html' %}{% endblock header %}
        {% block help %}{% include 'help.html' %}{% endblock %}

        {% block postheader %}<hr>{% endblock %}
        {% block content %}{% endblock %}

    {% else %}{# if not user.is_authenticated #}

            <p><a href="{% url 'account_login' %}">{% trans 'Please login or signup here.' %}</a></p>

    {% endif %}{# user.is_authenticated #}
{% endblock body %}</div>

{% include 'footer.html' %}

{% block extrajs %}{% endblock %}

</body>
</html>
