{% extends 'base.html' %}{% load bootstrap3 %}

{% block extrahead %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% block mainform %}
    {% if form.is_multipart %}
      <form enctype="multipart/form-data" method="post">
    {% else %}
      <form method="post">
    {% endif %}
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">

          {% block innerform %}
          {% bootstrap_form form %}
          {% endblock %}

          {% block submitrow %}
            <br>
            <input class="btn btn-lg btn-primary" type="submit"
              value="{% if view.submit_label %}{{ view.submit_label }}{% else %}{% if object %}Update{% else %}Create{% endif %}{% endif %}">
          {% endblock %}

        </div>
        <div class="col-md-6">
          {% block sidebar %}{% endblock %}
        </div>
      </div>
    </form>
  {% endblock %}

  {% block extracontent %}{% endblock %}

{% endblock %}