{% extends 'base.html' %}{% load bootstrap3 %}

{% block extrahead %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}

  {% block mainform %}
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">

          {% block innerform %}
          {% bootstrap_form form %}
          {% endblock %}

          {% block submitrow %}
            <input class="btn btn-lg btn-primary" type="submit"
              value="{% if object %}Update{% else %}Create{% endif %}">
          {% endblock %}

        </div>
        <div class="col-md-6">
          {% block sidecontent %}{% endblock %}
        </div>
      </div>
    </form>
  {% endblock %}

  {% block extracontent %}{% endblock %}

{% endblock %}