{% extends 'base.html' %}
{% load bootstrap3 static %}

{% block contenttitle %}Dashboard{% endblock %}

{% block content %}
  {% if membership %}
    {% if new_guide %}
      {% include 'new_guide.html' %}
    {% else %}

      <div class="row">

        <div class="col-lg-6">
          {% if pending_approvals %}
            {% include 'pending.html' %}
          {% endif %}
        </div>

      </div>

    {% endif %}
  {% else %}
    <h3>No membership is associated with this account</h3>
    <p>
      Please ask your <strong>Coordinator</strong> for an invitation link.
    </p>
  {% endif %}
{% endblock %}
