{% extends 'base.html' %}
{% load bootstrap3 static %}

{% block contenttitle %}Dashboard{% endblock %}

{% block content %}
  {% if membership %}
    {% if new_guide %}
      {% include 'new_guide.html' %}
    {% else %}

      <div class="row">

          {% if pending_approvals %}
            <div class="col-lg-12">
                {% include 'sheets/pending_approvals.html' %}
            </div>
          {% endif %}

          {% if approved_characters %}
              <div class="col-lg-12">
                  {% include 'sheets/approved_characters.html' %}
              </div>
          {% endif %}

      </div>

    {% endif %}
  {% else %}
    <h3>No membership is associated with this account</h3>
    <p>
      Please ask your <strong>Coordinator</strong> for an invitation link.
    </p>
  {% endif %}
{% endblock %}
