{% extends 'base.html' %}{% load bootstrap3 static i18n %}

{% block contenttitle %}{% trans 'Dashboard' %}{% endblock %}

{% block content %}
  {% if membership %}

    {% if new_guide %}
      {% include 'index/new_guide.html' %}
    {% else %}

      <div class="row">

        <div class="col-lg-8 col-md-8 col-xs-12">
            {% include 'index/dashboard.html' %}
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12">
            {% include 'index/member_tools.html' %}
        </div>

      </div>

    {% endif %}{# new_guide #}

  {% else %}{# not membership #}

    <h3>No membership is associated with this account</h3>
    <p>
      Please ask your <strong>Coordinator</strong> for an invitation link.
    </p>

  {% endif %}{# membership #}
{% endblock %}
