{% load bootstrap3 socialaccount %}


<div class="header">
  <h1>Keeper
    <small>Storytelling Repository</small>
  </h1>
  <hr>
</div>

<div class="row">
  <div class="col-lg-12">
    {% include 'messages.html' %}
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-xs-12">
    <h2>Login</h2>
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <a href="{% url 'account_reset_password' %}">
        Forgot your username or password?
      </a>
      <br><br>
      <input class="btn btn-lg btn-primary" type="submit"
        value="Login with username and password" style="width: 100%">
      <br><br>

      <a class="btn btn-lg btn-primary"
        href="{% provider_login_url "facebook" method="js_sdk" %}"
        style="width: 100%">
          Login with Facebook Connect</a>
    </form>

  </div>

  <div class="col-md-offset-1 col-md-7 col-xs-12">
    <br>
    <h2>About Keeper</h2>
    <p class="lead">
      Keeper is an online repository that keeps track of large
      and small gaming groups, events, stories and character sheets. </p>
  </div>

</div>
