<div class="row">
    <div class="col-lg-12">
        <h3 class="power-title">Approvals</h3>
    </div>
</div>

<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="container" style="padding: 0">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-5"><span class="character-col-title">Current version</span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-7">{{ character.version }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-5"><span class="character-col-title">Last update</span></div>
                <div class="col-md-2 col-sm-3 col-xs-7">{{ character.modified }}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">



    </div>

</div>

<br>
<hr>