<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <h3 class="power-title">Approvals</h3>

        <div class="container" style="padding: 0">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-5"><span class="character-col-title">Current version</span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-7">{{ character.version }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-5"><span class="character-col-title">Last update</span></div>
                <div class="col-md-2 col-sm-3 col-xs-7">{{ character.modified }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-5"><span class="character-col-title">Experiences</span></div>
                <div class="col-md-2 col-sm-3 col-xs-7">{{ character.experiences }} available</div>
            </div>
        </div>
        <br>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

        <table class="approval-table table table-bordered">
            <tr>
                <th>Detail</th>
                <th>Cost</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
            {% for approval in character.approval_requests.all %}
                <tr>
                    <td>{{ approval.detail }}</td>
                    {% if approval.is_prestige %}
                        <td>Prestige {{ approval.prestige_level }}</td>
                    {% else %}
                        <td>{{ approval.total_cost }} XP</td>
                    {% endif %}
                    <td>{{ approval.get_status_display }}</td>
                    <td>{{ approval.modified|date:"Y-m-d" }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

</div>

<br>
<hr>