{% extends 'admin/change_form.html' %}
{% load i18n admin_urls admin_static admin_modify bootstrapped_goodies_tags %}

{% block field_sets %}

  {% for fieldset in adminform %}
    {% include "sheets/comp/fieldset.html" with group_column_width=adminform|form_fieldset_column_width %}
  {% endfor %}
{% endblock %}

{% block submit_buttons_bottom %}
  {% if original.is_locked %}
    <p>You cannot make changes to this character because it's locked.</p>
    <p>Create a revision for this character and edit the revision.</p>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
