{% extends 'base.html' %}{% load static i18n %}

{% block extrastyle %}
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/character.css' %}">
{% endblock %}

{% block header %}{% endblock %}
{% block postheader %}{% endblock %}

{% block content %}

    <div class="character">

        {% include 'sheets/basic_info.html' %}
        <br><hr>

        <div class="row">
            {% include 'sheets/attributes.html' %}
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <hr>
                <div class="container-fluid inner">
                    {% include 'sheets/skills.html' %}
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <hr>
                <div class="container-fluid inner">
                    {% include 'sheets/powers.html' %}
                    {% include 'sheets/merits.html' %}
                    {% include 'sheets/anchors.html' %}
                </div>
            </div>

            {% include 'sheets/advantages.html' %}

        </div>
        <br><hr>

        {% if character.player_notes %}
            <div class="container-fluid"><div class="row">
                <div class="col-lg-12">
                    <h3 class="power-title">{% trans 'Player Notes' %}</h3>
                    <span class="player-notes">{{ character.player_notes }}</span>
                </div>
            </div>
            <br><hr></div>
        {% endif %}

        {% include 'sheets/approval_log.html' %}

    </div>
    <br>
    {% include 'sheets/tools.html' %}
    <br>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/update.js' %}"></script>
{% endblock extrajs %}
