{% extends 'orgs/base.html' %}
{% load bootstrap3 %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media.css }}
    {{ form.media.js }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <style>
        .inline-dots {
            padding: 10px 10px;
        }
        .inline-dots label {
            font-size: larger;
            min-width: 160px;
        }
        .inline-dots div {
            display: inline-block;
        }
        .hidden {
            display: none;
        }
    </style>
    <script>
        {# Creates clones of sections generically #}
        function Cloner (options) {
            this.clone = (function () {
                if (this.counter >= options.maxNumber) { return; }
                var cloned = $(options.base + ' div.row').clone()
                    .removeClass("hidden").appendTo(options.container);
                var select = cloned.find('select').attr('id', options.idPrefix + this.counter++);
                if (options.selectUrl) {
                    select.select2({
                        ajax: {
                            url: options.selectUrl,
                            dataType: 'json',
                            delay: 250,
                            data: function (params) {
                                return {
                                    term: params.term,
                                    template: '{{ character.template.pk }}'
                                }
                            },
                            processResults: function (data) {
                                return {results: data.items};
                            }
                        }
                    });
                }
                return cloned;
            });
            this.counter = 0;
            $(options.addBtn).on('click', this.clone);
            var parent = this;
            $.get(options.initialUrl)
                .done(function (data) {
                    for (var i = 0; i < data.items.length; i++) {
                        var cloned = parent.clone();
                        cloned.find('select')
                            .select2({
                                data: [{id: data.items[i].pk, text: data.items[i].text}]
                            })
                            .val(data.items[i].pk)
                            .prop("disabled", true);
                        if (options.afterLoad) {
                            options.afterLoad(cloned, data.items[i]);
                        }
                    }
                })
                .always(function () {
                    if (options.minNumber) {
                        for (; parent.counter < options.minNumber;) {
                            parent.clone();
                        }
                    }
                });
        }
    </script>
{% endblock %}

{% block content %}

    {# Page title (character name and template if it exists) #}
    {% block actiontitle %}
        {% if object %}
            <h1>{{ character.name }}
                <small>{{ character.template }}</small>
            </h1>
        {% else %}
            <h1>New Character</h1>
        {% endif %}
        <hr>
    {% endblock %}


    <form method="post" id="character-form">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

        {# 1st row fields are name and template #}
        <div class="row">
            <div class="col-md-4">
                {% bootstrap_field form.name %}
            </div>
            {% if not character.template %}
                <div class="col-md-4">
                    {% bootstrap_field form.template %}
                </div>
            {% endif %}
        </div>
        <hr>

        {# 2nd row contains the template-spacific splat selections #}
        {% if character.template %}
            <div class="row">{% for splat in character.template.splat_categories.all %}
                <div class="col-md-4"><div class="form-group">
                    <label class="control-label" for="id_{{ splat.storage_column }}">{{ splat.name }}</label>
                    <select class="form-control" id="id_{{ splat.storage_column }}" name="{{ splat.storage_column }}">
                        <option value="">---------</option>
                        {% for option in splat.splats.all %}
                            <option value="{{ option.pk }}">{{ option.name }}</option>
                        {% endfor %}
                    </select>
                    <script>$(function () {
                        $("#id_{{ splat.storage_column }}").val(
                            "{% cycle character.splat_1_pk character.splat_2_pk character.splat_3_pk %}");
                    });</script>
                </div></div>
            {% endfor %}</div>
        {% endif %}


        {# 3rd row, Virtue, Vice, Concept #}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"><label class="control-label" for="id_primary_anchor">
                    {{ character.primary_anchor_name|default:"Virtue" }}</label>
                <input class="form-control" id="id_primary_anchor" maxlength="40" name="primary_anchor"
                       placeholder="Anchor" title="" type="text" value="{{ character.primary_anchor }}"></div>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label class="control-label" for="id_secondary_anchor">
                    {{ character.secondary_anchor_name|default:"Vice" }}</label>
                <input class="form-control" id="id_secondary_anchor" maxlength="40" name="secondary_anchor"
                       placeholder="Anchor" title="" type="text" value="{{ character.secondary_anchor }}"></div>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label class="control-label" for="id_concept">Concept</label>
                <input class="form-control" id="id_concept" maxlength="40" name="concept"
                       placeholder="Concept" title="" type="text"
                       value="{{ character.concept }}"></div>
            </div>
        </div>
        <hr>

        {# 4th row: Attributes #}
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.intelligence %}
                    {% bootstrap_field form.wits %}
                    {% bootstrap_field form.resolve %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.strength %}
                    {% bootstrap_field form.dexterity %}
                    {% bootstrap_field form.stamina %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.presence %}
                    {% bootstrap_field form.manipulation %}
                    {% bootstrap_field form.composure %}
                </div>
            </div>
        </div>


        {# 5th row: Skills #}
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.academics %}
                    {% bootstrap_field form.computer %}
                    {% bootstrap_field form.crafts %}
                    {% bootstrap_field form.investigation %}
                    {% bootstrap_field form.medicine %}
                    {% bootstrap_field form.occult %}
                    {% bootstrap_field form.politics %}
                    {% bootstrap_field form.science %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.athletics %}
                    {% bootstrap_field form.brawl %}
                    {% bootstrap_field form.drive %}
                    {% bootstrap_field form.firearms %}
                    {% bootstrap_field form.larceny %}
                    {% bootstrap_field form.stealth %}
                    {% bootstrap_field form.survival %}
                    {% bootstrap_field form.weaponry %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.animal_ken %}
                    {% bootstrap_field form.empathy %}
                    {% bootstrap_field form.expression %}
                    {% bootstrap_field form.intimidation %}
                    {% bootstrap_field form.persuasion %}
                    {% bootstrap_field form.socialize %}
                    {% bootstrap_field form.streetwise %}
                    {% bootstrap_field form.subterfuge %}
                </div>
            </div>
        </div>


        {# 6th row: Power Stat, Integrity, Size #}
        {% if character.template %}
            <div class="row">
                <div class="col-md-4">
                    <div class="inline-dots">
                        {% bootstrap_field form.power_stat label_class="power-stat-label" %}
                    </div>
                    <script>$(function () {
                        $(".power-stat-label").text("{{ character.template.power_stat_name }}");
                    });</script>
                </div>
                <div class="col-md-4">
                    <div class="inline-dots">
                        {% bootstrap_field form.integrity label_class="integrity-label" %}
                    </div>
                    <script>$(function () {
                        $(".integrity-label").text("{{ character.template.integrity_name }}");
                    });</script>
                </div>
                <div class="col-md-4">
                    <div class="inline-dots">
                        {% bootstrap_field form.size %}
                    </div>
                </div>
            </div>
        {% endif %}

        <hr>

        {# 7th Row: Split between merits and other boxes of calculated values #}
        {% if character.template %}
            <div class="row">

                {# Merits #}
                <div class="col-md-6">
                    <div class="panel panel-default" style="padding: 10px">

                        {# Add another merit button toolbar #}
                        <div class="pull-right">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button id="add-merit-btn" type="button" class="btn btn-default">Add more</button>
                                </div>
                            </div>
                        </div>

                        <h3>Merits</h3>
                        <hr>

                        {# New merits get added to this div #}
                        <div id="merit-container"></div>

                        {# Base block used to create the rest of the instances #}
                        <div id="merit-base" class="hidden">
                            <div class="row merit-entry">
                                <div class="col-md-7">
                                    <select class="form-control" id="id_merit_base"></select>
                                </div>
                                <div class="col-md-5">
                                    <div class="dots"><input type="hidden" class="merit-dots-hidden" value="1">
                                        {# Its important all the imputs stay on the same line (no spacing) #}
                                        <input type="radio" value="1"><input type="radio" value="2"><input type="radio" value="3"><input type="radio" value="4"><input type="radio" value="5"><input type="radio" value="6"><input type="radio" value="7"><input type="radio" value="8"><input type="radio" value="9"><input type="radio" value="10">
                                        <button class="clear" value="1">x</button>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                        {# End of base block #}

                        <script>$(function () {
                            {# Setup the merit section by creating a function that clones a hidden base #}
                            new Cloner({
                                base: '#merit-base',
                                container: '#merit-container',
                                idPrefix: 'id_merit_',
                                selectUrl: '{% url 'sheets:all-merits' %}',
                                addBtn: "#add-merit-btn",
                                maxNumber: 20,
                                minNumber: 5,
                                initialUrl: '{% url 'sheets:character-merits' %}?char={{ character.pk }}',
                                afterLoad: function (cloned, val) {
                                    cloned.find('input[type=radio][value=' + val.dots + ']').click();
                                }
                            });
                        });</script>


                    </div>
                </div>

                {#  Specialities #}
                    <div class="col-md-6">
                        <div class="panel panel-default" style="padding: 10px">

                            {# Add another merit button toolbar #}
                            <div class="pull-right">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group">
                                        <button id="add-speciality-btn" type="button" class="btn btn-default">Add more</button>
                                    </div>
                                </div>
                            </div>

                            <h3>Specialties</h3>

                            <hr>

                            {# New specialities get added to this div #}
                            <div id="speciality-container"></div>

                            {# Base block used to create the rest of the instances #}
                            <div id="speciality-base" class="hidden">
                                <div class="row speciality-entry">
                                    <div class="col-md-4">
                                        <select class="form-control" id="id_speciality_base">
                                            <option value="academics">Academics</option>
                                            <option value="computer">Computer</option>
                                            <option value="crafts">Crafts</option>
                                            <option value="investigation">Investigation</option>
                                            <option value="medicine">Medicine</option>
                                            <option value="occult">Occult</option>
                                            <option value="politics">Politics</option>
                                            <option value="science">Science</option>
                                            <option value="athletics">Athletics</option>
                                            <option value="brawl">Brawl</option>
                                            <option value="drive">Drive</option>
                                            <option value="firearms">Firearms</option>
                                            <option value="larceny">Larceny</option>
                                            <option value="stealth">Stealth</option>
                                            <option value="survival">Survival</option>
                                            <option value="weaponry">Weaponry</option>
                                            <option value="animal_ken">Animal Ken</option>
                                            <option value="empathy">Empathy</option>
                                            <option value="expression">Expression</option>
                                            <option value="intimidation">Intimidation</option>
                                            <option value="persuasion">Persuasion</option>
                                            <option value="socialize">Socialize</option>
                                            <option value="streetwise">Streetwise</option>
                                            <option value="subterfuge">Subterfuge</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control speciality" type="text" style="width: 100%">
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                            {# End of base block #}

                            <script>$(function () {
                                {# Setup the merit section by creating a function that clones a hidden base #}
                                new Cloner({
                                    base: '#speciality-base',
                                    container: '#speciality-container',
                                    idPrefix: 'id_speciality_',
                                    addBtn: "#add-speciality-btn",
                                    maxNumber: 20,
                                    initialUrl: '{% url 'sheets:character-specialities' %}?char={{ character.pk }}',
                                    afterLoad: function (cloned, val) {
                                        cloned.find('input[type=text]').text(val.details);
                                    }
                                });
                            });</script>


                        </div>
                    </div>

            </div> {# End of 7th row #}
        {% endif %}


        {# Form submission #}
        <br>
        <div class="row submit-row">
            <div class="col-md-12">
                {% if object %}
                    <input id="save-btn" class="btn btn-lg btn-primary" type="submit" value="Save Changes">
                {% else %}
                    <input class="btn btn-lg btn-primary" type="submit" value="Create Character">
                    <br><br>
                    <p>You will be able to make changes and add supernatural template options after saving.</p>
                {% endif %}
            </div>

            {# Save function, massage data before submitting the form #}
            <script>$(function () {
                $('#character-form').submit(function () {
                    $(this).prop('disabled', true);

                    {# On save retrieve all merits + dots and put them on id_merits as json #}
                    (function () {
                        var data = {};
                        $('.merit-entry').each(function () {
                            data[$(this).find('select').val()] = $(this).find('.merit-dots-hidden').val();
                        });
                        $('#id_merits').val(JSON.stringify(data));
                    })();

                    {# On save retrieve all specialities and put them on id_specialities as json #}
                    (function () {
                        var data = {};
                        $('.speciality-entry').each(function () {
                            data[$(this).find('select').val()] = $(this).find('.speciality').text();
                        });
                        $('#id_specialities').val(JSON.stringify(data));
                    })();

                    return true;
                });
            });</script>

        </div>
    </form>
    <br><br><br><br>

{% endblock %}
