{% extends 'base.html' %}
{% load bootstrap3 static %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media.css }}
    {{ form.media.js }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    {# Character-sheet specific styles (generic sheets) #}
    <link href="{% static 'css/character.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/cloner.js' %}"></script>
{% endblock %}

{% block content %}

    {# Page title (character name and template if it exists) #}
    {% block actiontitle %}
        {% if object %}
            <h1>{{ character.name }}
                <small>{{ character.template }}</small>
            </h1>
        {% else %}
            <h1>New Character</h1>
        {% endif %}
        <hr>
    {% endblock %}


    <form method="post" id="character-form">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

        {# 1st row fields are name and template #}
        <div class="row">
            <div class="col-md-4">
                {% bootstrap_field form.name %}
            </div>
            {% if not character.template %}
                <div class="col-md-4">
                    {% bootstrap_field form.template %}
                </div>
            {% endif %}
        </div>
        <hr>

        {# 2nd row contains the template-spacific splat selections #}
        {% if character.template %}
            <div class="row">{% for splat in character.template.splat_categories.all %}
                <div class="col-md-4"><div class="form-group">
                    {% bootstrap_label splat.name label_for="id_{{ splat.storage_column }}" %}
                    <select class="form-control" id="id_{{ splat.storage_column }}" name="{{ splat.storage_column }}">
                        <option value="">---------</option>
                        {% for option in splat.splats.all %}
                            <option value="{{ option.pk }}">{{ option.name }}</option>
                        {% endfor %}
                    </select>
                    <script>$(function () {
                        $("#id_{{ splat.storage_column }}").val(
                            "{% cycle character.splat_1_pk character.splat_2_pk character.splat_3_pk %}");
                    });</script>
                </div></div>
            {% endfor %}</div>
        {% endif %}


        {# 3rd row, Virtue, Vice, Concept #}
        <div class="row">
          {% if character %}
            {% include 'sheets/comp/field.html' with name='primary_anchor' value=character.primary_anchor label=character.primary_anchor_name %}
            {% include 'sheets/comp/field.html' with name='secondary_anchor' value=character.secondary_anchor label=character.secondary_anchor_name %}
          {% endif %}
          {% include 'sheets/comp/field.html' with name='concept' value=character.concept label="Concept" %}
        </div>
        <hr>

        {# 4th row: Attributes #}
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.intelligence %}
                    {% bootstrap_field form.wits %}
                    {% bootstrap_field form.resolve %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.strength %}
                    {% bootstrap_field form.dexterity %}
                    {% bootstrap_field form.stamina %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.presence %}
                    {% bootstrap_field form.manipulation %}
                    {% bootstrap_field form.composure %}
                </div>
            </div>
        </div>


        {# 5th row: Skills #}
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.academics %}
                    {% bootstrap_field form.computer %}
                    {% bootstrap_field form.crafts %}
                    {% bootstrap_field form.investigation %}
                    {% bootstrap_field form.medicine %}
                    {% bootstrap_field form.occult %}
                    {% bootstrap_field form.politics %}
                    {% bootstrap_field form.science %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.athletics %}
                    {% bootstrap_field form.brawl %}
                    {% bootstrap_field form.drive %}
                    {% bootstrap_field form.firearms %}
                    {% bootstrap_field form.larceny %}
                    {% bootstrap_field form.stealth %}
                    {% bootstrap_field form.survival %}
                    {% bootstrap_field form.weaponry %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default inline-dots">
                    {% bootstrap_field form.animal_ken %}
                    {% bootstrap_field form.empathy %}
                    {% bootstrap_field form.expression %}
                    {% bootstrap_field form.intimidation %}
                    {% bootstrap_field form.persuasion %}
                    {% bootstrap_field form.socialize %}
                    {% bootstrap_field form.streetwise %}
                    {% bootstrap_field form.subterfuge %}
                </div>
            </div>
        </div>

        <hr >

        {# 6th row: Power Stat, Integrity, Size #}
        {% if character.template %}
            <div class="row">
                <div class="col-md-4">
                    <div class="inline-dots">
                        {% bootstrap_field form.power_stat label_class="power-stat-label" %}
                    </div>
                    <script>$(function () {
                        $(".power-stat-label").text("{{ character.template.power_stat_name }}");
                    });</script>
                </div>
                <div class="col-md-4">
                    <div class="inline-dots">
                        {% bootstrap_field form.integrity label_class="integrity-label" %}
                    </div>
                    <script>$(function () {
                        $(".integrity-label").text("{{ character.template.integrity_name }}");
                    });</script>
                </div>
                <div class="col-md-4">
                    <div class="inline-dots">
                        {% bootstrap_field form.size %}
                    </div>
                </div>
            </div>
        {% endif %}

        {# 6th row: Resources, Willpower, Health #}
        {% if character.template %}
            <div class="row">
                <div class="col-md-4">
                    {# Primary supernatural resource (Mana, Vitae, Essence, etc) #}
                    <div class="form-group inline-dots resource">
                        <label class="control-label">{{ character.template.resource_name }}</label>
                        <div class="resource-num">{{ character.resource }} / {{ character.resource_max }}</div>
                        <button class="btn btn-default add-btn">+</button>
                        <button class="btn btn-default sub-btn">-</button>
                    </div>
                </div>
                <div class="col-md-4">
                    {# Willpower #}
                    <div class="form-group inline-dots willpower">
                        <label class="control-label">Willpower</label>
                        <div class="willpower-num">{{ character.willpower }} / {{ character.willpower_max }}</div>
                        <button class="btn btn-default add-btn">+</button>
                        <button class="btn btn-default sub-btn">-</button>
                    </div>
                </div>
                <div class="col-md-4">
                    {# Primary exp and beats container #}
                    <div class="row exp-container">
                        <div class="col-md-4">
                            <label class="control-label" style="padding-left: 10px">Experiences</label>
                            <div class="experiences" style="padding-left: 10px">{{ character.experiences }}</div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Beats</label>
                            <div class="beats">{{ character.beats }}</div>
                        </div>
                        <div class="col-md-4" style="padding-top: 15px">
                            <button class="btn btn-default add-btn">+</button>
                            <button class="btn btn-default sub-btn">-</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group inline-dots damage-track">
                        <label class="control-label">Health</label>
                        {% for box in character.available_health_track  %}
                            <div>
                                <button class="btn btn-default track-btn">{{ box }}</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if character.template.experiences_prefix %}
                    <div class="col-md-4">
                        {# Template exp and beats container #}

                        <div class="row temp-exp-container">
                            <div class="col-md-4">
                                <label class="control-label" style="padding-left: 10px">
                                    {{ character.template.experiences_prefix }} Exp.
                                </label>
                                <div class="experiences" style="padding-left: 10px">
                                    {{ character.template_experiences }}</div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">
                                    {{ character.template.experiences_prefix }} Beats
                                </label>
                                <div class="beats">{{ character.template_beats }}</div>
                            </div>
                            <div class="col-md-4" style="padding-top: 15px">
                                <button class="btn btn-default add-btn">+</button>
                                <button class="btn btn-default sub-btn">-</button>
                            </div>
                        </div>

                    </div>
                {% endif %}
                <script>
                    $(function () {

                        {# Experience Tracking #}
                        (function () {
                            var handleExp = function (expLabel, beatLabel, contLabel) {
                                var experiences = $('#id_' + expLabel);
                                var beats = $('#id_' + beatLabel);
                                {# Add beats, +1 exp on 5 beats #}
                                $('.' + contLabel + ' .add-btn').on('click', function (event) {
                                    event.preventDefault();
                                    var expNum = parseInt($(experiences).val()) || 0;
                                    var beatNum = (parseInt($(beats).val()) || 0) + 1;
                                    if (beatNum >= 5) {
                                        expNum++;
                                        beatNum = 0;
                                    }
                                    $('.' + contLabel + ' .experiences').text(expNum);
                                    $('.' + contLabel + ' .beats').text(beatNum);
                                    $(experiences).val(expNum);
                                    $(beats).val(beatNum);
                                });
                                {# Remove 1 exp, leave beats untouched #}
                                $('.' + contLabel + ' .sub-btn').on('click', function (event) {
                                    event.preventDefault();
                                    var expNum = (parseInt($(experiences).val()) || 0) - 1;
                                    if (expNum < 0) {
                                        expNum = 0;
                                    }
                                    $('.' + contLabel + ' .experiences').text(expNum);
                                    $(experiences).val(expNum);
                                });
                            };

                            handleExp('experiences', 'beats', 'exp-container');
                            handleExp('template_experiences', 'template_beats', 'temp-exp-container');
                        })();

                        {# Resource (Mana, Vitae, Essence) & Willpower Tracking #}
                        (function () {
                            var offsetRsc = function (offset, field, label, maxAmt) {
                                var resourceField = $(field);
                                return function (event) {
                                    event.preventDefault();
                                    var newVal = parseInt(resourceField.val() || 0) + offset;
                                    if (newVal >= 0 && newVal <= maxAmt) {
                                        resourceField.val(newVal);
                                        $(label).text(newVal + ' / ' + maxAmt);
                                    }
                                }
                            };
                            var registerRsc = function (name, maxAmt) {
                                $('div.' + name + ' .add-btn').on(
                                    'click', offsetRsc(1, '#id_' + name, '.' + name + '-num', maxAmt));
                                $('div.' + name + ' .sub-btn').on(
                                    'click', offsetRsc(-1, '#id_' + name, '.' + name + '-num', maxAmt));
                            };
                            registerRsc('resource', {{ character.resource_max }});
                            registerRsc('willpower', {{ character.willpower_max }});
                        })();

                        {# Health Tracking #}
                        (function () {
                            $('.track-btn').on('click', function (event) {
                                event.preventDefault();
                                var txt = $(this).text();
                                switch (txt) {
                                    case 'B':
                                        txt = 'L';
                                        break;
                                    case 'L':
                                        txt = 'A';
                                        break;
                                    case 'A':
                                        txt = '_';
                                        break;
                                    default:
                                        txt = 'B';
                                }
                                $(this).text(txt);
                            });
                        })();
                    })
                </script>

            </div>
        {% endif %}

        <hr>

        {# 8th Row: Split between merits and other boxes of calculated values #}
        {% if character.template %}
            <div class="row">

                {# Merits #}
                <div class="col-md-6">
                    <div class="panel panel-default" style="padding: 10px">

                        {# Add another merit button toolbar #}
                        <div class="pull-right">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button id="add-merit-btn" type="button" class="btn btn-default">Add more</button>
                                </div>
                            </div>
                        </div>

                        <h3>Merits</h3>
                        <hr>

                        {# New merits get added to this div #}
                        <div id="merit-container"></div>

                        {# Base block used to create the rest of the instances #}
                        <div id="merit-base" class="hidden">
                            <div class="row merit-entry">
                                <div class="col-md-7">
                                    <select class="form-control" id="id_merit_base"></select>
                                </div>
                                <div class="col-md-5">
                                    <div class="dots"><input type="hidden" class="merit-dots-hidden" value="1">
                                        {# Its important all the imputs stay on the same line (no spacing) #}
                                        <input type="radio" value="1"><input type="radio" value="2"><input type="radio" value="3"><input type="radio" value="4"><input type="radio" value="5"><input type="radio" value="6"><input type="radio" value="7"><input type="radio" value="8"><input type="radio" value="9"><input type="radio" value="10">
                                        <button class="clear" value="1">x</button>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                        {# End of base block #}

                        <script>$(function () {
                            {# Setup the merit section by creating a function that clones a hidden base #}
                            new Cloner({
                                base: '#merit-base',
                                template: '{{ character.template.pk }}',
                                container: '#merit-container',
                                idPrefix: 'id_merit_',
                                selectUrl: '{% url 'sheets:all-merits' %}',
                                addBtn: "#add-merit-btn",
                                maxNumber: 20,
                                minNumber: 5,
                                initialUrl: '{% url 'sheets:char-merits' %}?char={{ character.pk }}',
                                afterLoad: function (cloned, val) {
                                    cloned.find('select')
                                        .select2({
                                            data: [{id: val.pk, text: val.text}]
                                        })
                                        .val(val.pk)
                                        .prop("disabled", true);
                                    cloned.find('input[type=radio][value=' + val.dots + ']').click();
                                }
                            });
                        });</script>


                    </div>
                </div>

                {#  Specialities #}
                    <div class="col-md-6">
                        <div class="panel panel-default" style="padding: 10px">

                            {# Add another merit button toolbar #}
                            <div class="pull-right">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group">
                                        <button id="add-speciality-btn" type="button" class="btn btn-default">Add more</button>
                                    </div>
                                </div>
                            </div>

                            <h3>Specialties</h3>

                            <hr>

                            {# New specialities get added to this div #}
                            <div id="speciality-container"></div>

                            {# Base block used to create the rest of the instances #}
                            <div id="speciality-base" class="hidden">
                                <div class="row speciality-entry">
                                    <div class="col-md-4">
                                        {% include 'sheets/comp/select_skills.html' with id='id_speciality_base' %}
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control speciality" type="text" style="width: 100%">
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                            {# End of base block #}

                            <script>$(function () {
                                {# Setup the merit section by creating a function that clones a hidden base #}
                                new Cloner({
                                    base: '#speciality-base',
                                    template: '{{ character.template.pk }}',
                                    container: '#speciality-container',
                                    idPrefix: 'id_speciality_',
                                    addBtn: "#add-speciality-btn",
                                    maxNumber: 20,
                                    minNumber: 3,
                                    initialUrl: '{% url 'sheets:char-specialty' %}?char={{ character.pk }}',
                                    afterLoad: function (cloned, val) {
                                        cloned.find('select')
                                            .val(val.skill)
                                            .prop("disabled", true);
                                        cloned.find('input[type=text]').val(val.speciality);
                                    }
                                });
                            });</script>


                        </div>
                    </div>

            </div> {# End of 8th row #}
        {% endif %}

        {# Used to expand specific templates without overriding everything else #}
        {% block extraformsets %}{% endblock %}

        {# Form submission #}
        <br>
        <div class="row submit-row">
            <div class="col-md-12">
                {% if object %}
                    <input id="save-btn" class="btn btn-lg btn-primary" type="submit" value="Save Changes">
                    <input id="revert-btn" class="btn btn-lg btn-default" value="Revert Changes">
                    <script>
                    $(function () {
                       $("#revert-btn").on('click', function () {
                          location.reload()
                       });
                    });
                    </script>
                {% else %}
                    <input class="btn btn-lg btn-primary" type="submit" value="Create Character">
                    <br><br>
                    <p>You will be able to make changes and add supernatural template options after saving.</p>
                {% endif %}
            </div>

            {# Save function, massage data before submitting the form #}
            <script>
                $(function () {
                    $('#character-form').submit(function () {
                        console.log('Main pre-save');
                        $(this).prop('disabled', true);

                        {# On save retrieve all merits + dots and put them on id_merits as json #}
                        (function () {
                            var data = {};
                            $('#merit-container .merit-entry').each(function () {
                                data[$(this).find('select').val()] = $(this).find('.merit-dots-hidden').val();
                            });
                            $('#id_merits').val(JSON.stringify(data));
                        })();

                        {# On save retrieve all specialities and put them on id_specialities as json #}
                        (function () {
                            var data = {};
                            $('#speciality-container .speciality-entry').each(function () {
                                data[$(this).find('select').val()] = $(this).find('.speciality').val();
                            });
                            $('#id_specialities').val(JSON.stringify(data));
                        })();

                        {# Save Health Track #}
                        (function () {
                            var dmgTrack = '';
                            $('.track-btn').each(function () {
                                dmgTrack = dmgTrack.concat($(this).text());
                            });
                            $('#id_damage_track').val(dmgTrack);
                        })();

                        return true;
                    });
                });
            </script>

        </div>


        {{ formset }}

    </form>
    <br><br><br><br>

{% endblock %}
