
  <div class="panel panel-default">
    <div class="panel-heading"><h4>My Pending Approvals</h4></div>
    <div class="panel-body">
      Some approvals you have requested are still pending. You will receive a notification
      when these approvals have been completed.
    </div>
    <table class="table">
    <tr>
      <th>#</th>
      <th>Character</th>
      <th>Chronicle</th>
      <th>Request date</th>
    </tr>
      {% for approval in pending_approvals %}
        <tr>
        <td>{{ approval.pk }}</td>
        <td>{{ approval.character.name }}</td>
        <td>{{ approval.character.chronicle.name }}</td>
        <td>{{ approval.created }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
