
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Pending Approvals</strong></div>
    <div class="panel-body">
      You have pending approvals. You will receive a notification
      when these approvals have been completed.
    </div>
    <table class="table">
    <tr>
      <th>#</th>
      <th>Character</th>
      <th>Request date</th>
    </tr>
      {% for approval in pending_approvals %}
        <tr>
        <td>{{ approval.pk }}</td>
        <td>{{ approval.character.name }}</td>
        <td>{{ approval.created }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
