<div class="row">
    <div class="col-lg-4 col-xs-12">
        <h3 class="power-title">Skills</h3>
    </div>
</div>


<div class="row">
    {% include 'sheets/column_skills.html' with title="Academics" value=character.academics option=character.academics_specialties %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Computer" value=character.computer option=character.computer_specialties %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Crafts" value=character.crafts option=character.crafts_specialties %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Investigation" value=character.investigation option=character.investigation_specialties %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Medicine" value=character.medicine %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Occult" value=character.occult %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Politics" value=character.politics %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Science" value=character.science %}
</div>

<br>

<div class="row">
    {% include 'sheets/column_skills.html' with title="Athletics" value=character.athletics%}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Brawl" value=character.brawl %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Drive" value=character.drive %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Firearms" value=character.firearms %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Larceny" value=character.larceny %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Stealth" value=character.stealth %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Survival" value=character.survival %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Weaponry" value=character.weaponry %}
</div>

<br>


<div class="row">
    {% include 'sheets/column_skills.html' with title="AnimalKen" value=character.animal_ken %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Empathy" value=character.empathy %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Expression" value=character.expression %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Intimidation" value=character.intimidation %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Persuasion" value=character.persuasion %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Socialize" value=character.socialize %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Streetwise" value=character.streetwise %}
</div>
<div class="row">
    {% include 'sheets/column_skills.html' with title="Subterfuge" value=character.subterfuge %}
</div>

<br>

