.field-description textarea {
    height: 3em;
}

.form-control {
    font-size: 13px;
}

.field-box {
    padding-right: 0;
}

select.form-control {
    width: 180px;
}

textarea.form-control {
    min-width: 800px;
    height: 120px;
}
.form-actions {
    padding-top: 15px;
}
.dynamic-approval_requests .field-status select.form-control {
    width: 120px;
}
.dynamic-approval_requests .field-spent_experience input.form-control {
    width: 60px;
}
.dynamic-approval_requests .field-details input.form-control {
    width: 400px;
}


