.field-description textarea {
    height: 3em;
}
.form-control {
    font-size: 13px;
}
.field-box {
    padding-right: 0;
}
select.form-control {
    width: 180px;
}
textarea.form-control {
    min-width: 700px;
    height: 100px;
    text-overflow: ellipsis;
}
table textarea.form-control {
    min-width: 500px;
    max-width: 500px;
    min-height: 60px;
    height: 60px!important;
}
#membership_form table textarea.form-control {
    min-width: 700px;
    max-width: 700px;
    min-height: 35px;
    height: 35px;
}

#membership_form #id_organization {
    width: 300px;
}

.form-actions {
    padding-top: 15px;
}
.dynamic-approval_requests .field-status select.form-control,
table .field-status input {
    width: 120px;
}
.field-spent_experience input.form-control,
.field-storyteller_beats input.form-control,
.field-coordinator_beats input.form-control,
.field-member_beats input.form-control {
    width: 60px;
}
.dynamic-approval_requests .field-details input.form-control,
#event_form .field-details input.form-control {
    width: 400px;
}
.form-group {
    margin-bottom: 5px!important;
}
.table > tbody > tr > td {
    padding: 4px!important;
}

.navbar {
    margin-bottom: 5px!important;
}

.alert {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    margin-bottom: 5px!important;
}

#content-main legend {
    padding-top: 20px;
}

#content-main h2 {
    margin-top: 30px;
    font-size: 24px;
}

.breadcrumb {
    margin-bottom: 10px!important;
}

.form-group.field-box {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

textarea#id_storyteller_notes,
textarea#id_player_notes {
    height: 120px;
}

#id_alt_names {
    min-width: 700px;
}

.objectaction-item a:link,
.objectaction-item a:visited {
    /*background-color: skyblue;*/
    margin-top: 10px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    border-radius: 5px;
    border: deepskyblue 1px solid;
}

.objectaction-item a:hover {
    background-color: lightsteelblue!important;
}

.hidden {
    display: none;
}

#content-main div.items .well legend {
    padding-top: 0;
}

#content-main #fieldset-1 {
    padding-top: 15px;
}

#id_game_line {
    width: 240px
}

.field-information textarea.form-control {
    height: 100px;
}

#membership_form .fields select {
    width: 300px;
}

