{% load bootstrap3 %}


{% if not full_calendar %}
  <h3>Upcoming Events</h3>
{% else %}
  <h1>Upcoming Events</h1>
  <hr>
{% endif %}


{% if upcoming_events %}

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Event</th>
        <th>Organization</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      {% for event in upcoming_events %}
        <tr>
          <td><a
            href="{% url 'orgs:view-event' event.pk %}">{{ event.name }}</a>
          </td>
          <td><a href="{% url 'orgs:view-org' event.organization.pk %}">
            {{ event.organization }}</a></td>
          <td>{{ event.event_date }}</td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>

{% else %}

  <p>You have no upcoming events.</p>

{% endif %}

{% if remaining_events > 0 %}
  <a href="{% url 'orgs:calendar' %}">View all upcoming events.</a>
{% endif %}

