.container.main {
    padding: 5px;
}

.character {
    border-radius: 10px;
    background: white;
    padding: 5px 15px 5px 10px;
}

.inline-dots {
    padding: 10px 10px;
}

.inline-dots label {
    font-size: larger;
    min-width: 160px;
}

.inline-dots div {
    display: inline-block;
}

.inline-dots .form-group {
    margin-bottom: 5px;
}

.resource-num,
.willpower-num,
.health-levels-num {
    display: inline;
    width: 80px;
    font-size: x-large;
    text-align: center;
}

.submit-row .btn {
    width: 200px;
}

.track-btn {
    width: 34px;
    font-size: x-large;
    padding: 0;
}

.track-btn.xx-large {
    font-size: xx-large;
}

.sub-btn {
    min-width: 34px;
}

.character-col-title {
    font-weight: bold;
}

.character-col-title,
.character-col-value {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

.character-dots {
    font-size: 25px;
    letter-spacing: -4px;
    line-height: 80%;
    text-align: right;
    padding-right: 20px;
}

.skill-specialty {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    color: grey;
    vertical-align: bottom;
    width: 100%;
    border-bottom: 0.5px solid lightgrey;
    padding-top: 3px;
}

.power-title {
    margin-top: 0;
    color: grey;
}

ul.anchors {
    padding-left: 15px;
}

.approval-table th {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}

.approval-table td {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
}

.advantages span.label-default {
    font-size: 125%;
}

.resource .box {
    max-width: 9%;
    min-width: 2%;
    zoom: 2;
}



