html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4fb;
    margin-bottom: 60px;
}

h1.content-title {
    margin-top: 5px;
}

.organization-header {
    text-align: right;
    padding-top: 10px;
    font-size: 1.5em;
    color: darkgrey;
}

.new-guide li {
    padding: 5px;
}

.facebook-login-btn {
    width: 100%;
    background-color: #4267b2;
}

.alert-dismissable .close {
    right: -10px!important;
}

.navbar {
    margin-bottom: 0!important;
}

.main {
    margin-top: 20px;
}

.text-center {
    text-align: center
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    padding: 20px 0;
    color: darkgrey;
}

