body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4fb;
}

h1.content-title {
    margin-top: 5px;
}

.organization-header {
    text-align: right;
    padding-top: 10px;
    font-size: 1.5em;
    color: darkgrey;
}

.new-guide li {
    padding: 5px;
}


.facebook-login-btn {
    width: 100%;
    background-color: #4267b2;

}

.alert-dismissable .close {
    right: -10px!important;
}

.navbar {
    margin-bottom: 0!important;
}

.container.main {
    margin-top: 20px;
}

.text-center {
    text-align: center
}

.footer {
    padding: 20px 0;
    background: black;
    color: #9d9d9d
}

